body {
  font-family: 'Oswald', sans-serif;
}

.card {
  width: 300px;
  padding: 10px;
  border: 2px solid black;
  background: #3199BC;
}

.title {
  padding-top: 0;
  margin-top: 5px;
  color: 	#3D0F0C;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  font-size: 35px;
}

.animal-information {
  border: 5px solid black;
  border-width: medium;
}

.image-container {
  font-size: 10px;
}

.image-fawkes {
  text-align: center;
  width: 95%;
  border: 5px;
  margin: 8px;
}

.border {
  margin: 5px;
  padding: 5px;
  border: 2px solid black;
}

.about-fawkes {
  color: 	#3D0F0C;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}

.interesting-facts {
  color: black;
  font-weight: bold;
  font-size: 15px;
}

span {
  font-weight: bold;
}

.about-phoenix {
  color: 	#3D0F0C;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}
.about-information {
  text-align: justify;
  font-size: 15px;
  padding: 10px;
}

.copyright {
  text-align: center;
}